@font-face {
	font-family: 'Roboto';
	src: url('./fonts/Roboto-Thin.ttf');
}

* {
	font-family: 'Roboto', monospace;
}

body{
	display: flex;
	height: 100vh;
	justify-content: center;
	align-items: center;
	text-align: center;

	color: #fff;
	background: linear-gradient(to right, #003973, #e5e5be)
}